### Data preparation - Indian news corpus

This script reads and processes excel file of all indian news articles in the corpus. It checks contents of the files, performs some preliminary data cleaning, and extracts information in preparation for BERTopic modeling. The output is a prepared dataset, ready for input to BERTopic.

In [1]:
import os

os.getcwd()

'C:\\Users\\mb1110\\OneDrive - University of Exeter\\Desktop\\Phd project data\\India data'

In [2]:
os.listdir()

['.ipynb_checkpoints',
 '1. India data v2.ipynb',
 '1. India data.ipynb',
 '1. india_data_prep.ipynb',
 'in_all.xlsx',
 'requirements.txt']

In [8]:
import pandas as pd

indf = pd.read_excel('in_all.xlsx')

indf.head()

,uri,lang,isDuplicate,date,time,dateTime,dateTimePub,dataType,sim,url,...,authors,links,videos,image,eventUri,location,shares,sentiment,wgt,relevance
0,150014058,eng,True,2014-01-13,01:39:00,2014-01-13T01:39:00Z,NaN,news,0.000000,http://www.ndtv.com/article/world/australian-w...,...,"[{'uri': 'agence_france_presse@ndtv.com', 'nam...",[],[],NaN,NaN,NaN,{'facebook': 1},-0.592157,127273140,127273140
1,150354214,eng,False,2014-01-14,07:03:00,2014-01-14T07:03:00Z,NaN,news,0.847059,http://www.ndtv.com/article/world/australia-br...,...,"[{'uri': 'agence_france_presse@ndtv.com', 'nam...",[],[],NaN,eng-72983,"{'type': 'place', 'label': {'eng': 'Sydney'}, ...",{'facebook': 2},-0.631373,127378980,127378980
2,157889662,eng,False,2014-02-10,04:25:00,2014-02-10T04:25:00Z,NaN,news,0.894118,http://www.ndtv.com/article/world/australian-w...,...,[],[],[],NaN,eng-147295,"{'type': 'place', 'label': {'eng': 'Melbourne'...",{'facebook': 3},-0.647059,129702300,129702300
3,162118267,eng,False,2014-02-24,10:55:00,2014-02-24T10:55:00Z,NaN,news,0.901961,http://www.ndtv.com/article/world/costs-of-nat...,...,"[{'uri': 'reuters@ndtv.com', 'name': 'Reuters'...",[],[],NaN,eng-171480,NaN,{},-0.584314,130935300,130935300
4,174682220,eng,False,2014-04-11,12:09:00,2014-04-11T12:09:00Z,NaN,news,0.654902,http://www.ndtv.com/elections/article/election...,...,[],[],[],NaN,eng-301292,"{'type': 'place', 'label': {'eng': 'Balasore'}...",{'facebook': 1},-0.623529,134914140,134914140

In [9]:
len(indf)

2167

In [16]:
type(indf)

pandas.core.frame.DataFrame

In [17]:
indf.loc[0:10, 'body']

0     Sydney: A fast-moving wildfire destroyed at le...
1     Sydney: Australian authorities warned on Tuesd...
2     Melbourne: At least 20 homes have been razed i...
3     Beijing: Natural disasters including droughts,...
4     Balasore: Narendra Modi today said the trends ...
5     New Delhi: Sweltering heat in Delhi and massiv...
6     New Delhi: Sweltering heat in Delhi and massiv...
7     New Delhi: Sweltering heat in Delhi and massiv...
8     New Delhi: Weather continued to be pleasant in...
9     Los Angeles: Raging wildfires damaged or destr...
10    Moscow: A foul odour enveloped the Russian cap...
Name: body, dtype: object

In [18]:
indf.iloc[0:10,10:13]

,title,body,source
0,"Australian wildfire razes 27 homes, one man dead",Sydney: A fast-moving wildfire destroyed at le...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
1,Australia braces for fire danger as heatwave hits,Sydney: Australian authorities warned on Tuesd...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
2,Australian wildfires destroy at least 20 homes,Melbourne: At least 20 homes have been razed i...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
3,Costs of natural disasters in China surge to $...,"Beijing: Natural disasters including droughts,...","{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
4,Poll trends suggest my responsibilities are in...,Balasore: Narendra Modi today said the trends ...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
5,"10-Day Deadline To Fix Delhi's Crisis, Vows Po...",New Delhi: Sweltering heat in Delhi and massiv...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
6,"10-Day Deadline To Fix Delhi's Crisis, Vows Po...",New Delhi: Sweltering heat in Delhi and massiv...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
7,Delhi power crisis: Union Minister Piyush Goya...,New Delhi: Sweltering heat in Delhi and massiv...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
8,Delhi: Light Showers Make for Pleasant Day,New Delhi: Weather continued to be pleasant in...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."
9,"California Wildfires Burn Homes, Force Residen...",Los Angeles: Raging wildfires damaged or destr...,"{'uri': 'ndtv.com', 'dataType': 'news', 'title..."

In [21]:
indf.loc[0:5, 'source']

0    {'uri': 'ndtv.com', 'dataType': 'news', 'title...
1    {'uri': 'ndtv.com', 'dataType': 'news', 'title...
2    {'uri': 'ndtv.com', 'dataType': 'news', 'title...
3    {'uri': 'ndtv.com', 'dataType': 'news', 'title...
4    {'uri': 'ndtv.com', 'dataType': 'news', 'title...
5    {'uri': 'ndtv.com', 'dataType': 'news', 'title...
Name: source, dtype: object

In [22]:
"""
Using Abstract Syntax Tree (ast) to extract source name only from 'source' column of the dataframe.

"""

import ast

# Extract the 'title' part from the 'source' column
indf['source'] = indf['source'].apply(lambda x: ast.literal_eval(x)['title'])

In [27]:
indf['source']

0                     NDTV
1                     NDTV
2                     NDTV
3                     NDTV
4                     NDTV
               ...
2162                  NDTV
2163    The Times of India
2164             India.com
2165                  NDTV
2166                  NDTV
Name: source, Length: 2167, dtype: object

In [30]:
print(indf['source'].unique())

print(indf['source'].value_counts())

['NDTV' 'The Times of India' 'DD News' 'News18 India' 'आज तक' 'India.com']
source
The Times of India    1690
NDTV                   397
आज तक                   44
News18 India            20
DD News                 15
India.com                1
Name: count, dtype: int64

In [31]:
indf['date']

0       2014-01-13
1       2014-01-14
2       2014-02-10
3       2014-02-24
4       2014-04-11
           ...
2162    2022-12-26
2163    2022-12-26
2164    2022-12-27
2165    2022-12-27
2166    2022-12-29
Name: date, Length: 2167, dtype: object

In [32]:
indf['title']

0        Australian wildfire razes 27 homes, one man dead
1       Australia braces for fire danger as heatwave hits
2          Australian wildfires destroy at least 20 homes
3       Costs of natural disasters in China surge to $...
4       Poll trends suggest my responsibilities are in...
                              ...
2162    Mother Dairy To Hike Milk Prices by Rs 2 Per L...
2163    Mother Dairy to hike milk prices by Rs 2/litre...
2164    Why Mother Dairy Has Hiked Its Milk Prices In ...
2165    Signs Of Apocalypse? 2022 Saw Floods, Heatwave...
2166                In Pics: Biggest World Events Of 2022
Name: title, Length: 2167, dtype: object

In [33]:
indf['body']

0       Sydney: A fast-moving wildfire destroyed at le...
1       Sydney: Australian authorities warned on Tuesd...
2       Melbourne: At least 20 homes have been razed i...
3       Beijing: Natural disasters including droughts,...
4       Balasore: Narendra Modi today said the trends ...
                              ...
2162    Mother Dairy to hike milk prices by Rs 2/litre...
2163    NEW DELHI: Citing rise in input costs, the Mot...
2164    New Delhi: Mother Diary has once again hiked i...
2165    And on the year that humanity welcomed its eig...
2166    Ukraine has put up a spirited resistance to th...
Name: body, Length: 2167, dtype: object

#### Preparing input data for BERTopic

In [34]:
intitle=indf['title']
inbody=indf['body']
indate=indf['date']
insource=indf['source']

In [70]:
# saving the file as excel file for later use

in_input_data = pd.DataFrame({'title':indf['title'],
                              'body':indf['body'],
                              'date':indf['date'],
                              'source':indf['source']})

in_input_data.to_excel('in_input_data.xlsx', index=False)

In [40]:
""" 
Downloading stopwords from nltk.
nltk==3.8.1

"""

import nltk
from nltk.corpus import stopwords
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\mb1110\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [41]:
print(stopwords.fileids())

['arabic', 'azerbaijani', 'basque', 'bengali', 'catalan', 'chinese', 'danish', 'dutch', 'english', 'finnish', 'french', 'german', 'greek', 'hebrew', 'hinglish', 'hungarian', 'indonesian', 'italian', 'kazakh', 'nepali', 'norwegian', 'portuguese', 'romanian', 'russian', 'slovene', 'spanish', 'swedish', 'tajik', 'turkish']

In [54]:
print(stopwords.words('hinglish'))

['a', 'aadi', 'aaj', 'aap', 'aapne', 'aata', 'aati', 'aaya', 'aaye', 'ab', 'abbe', 'abbey', 'abe', 'abhi', 'able', 'about', 'above', 'accha', 'according', 'accordingly', 'acha', 'achcha', 'across', 'actually', 'after', 'afterwards', 'again', 'against', 'agar', 'ain', 'aint', "ain't", 'aisa', 'aise', 'aisi', 'alag', 'all', 'allow', 'allows', 'almost', 'alone', 'along', 'already', 'also', 'although', 'always', 'am', 'among', 'amongst', 'an', 'and', 'andar', 'another', 'any', 'anybody', 'anyhow', 'anyone', 'anything', 'anyway', 'anyways', 'anywhere', 'ap', 'apan', 'apart', 'apna', 'apnaa', 'apne', 'apni', 'appear', 'are', 'aren', 'arent', "aren't", 'around', 'arre', 'as', 'aside', 'ask', 'asking', 'at', 'aur', 'avum', 'aya', 'aye', 'baad', 'baar', 'bad', 'bahut', 'bana', 'banae', 'banai', 'banao', 'banaya', 'banaye', 'banayi', 'banda', 'bande', 'bandi', 'bane', 'bani', 'bas', 'bata', 'batao', 'bc', 'be', 'became', 'because', 'become', 'becomes', 'becoming', 'been', 'before', 'beforehand', 'behind', 'being', 'below', 'beside', 'besides', 'best', 'better', 'between', 'beyond', 'bhai', 'bheetar', 'bhi', 'bhitar', 'bht', 'bilkul', 'bohot', 'bol', 'bola', 'bole', 'boli', 'bolo', 'bolta', 'bolte', 'bolti', 'both', 'brief', 'bro', 'btw', 'but', 'by', 'came', 'can', 'cannot', 'cant', "can't", 'cause', 'causes', 'certain', 'certainly', 'chahiye', 'chaiye', 'chal', 'chalega', 'chhaiye', 'clearly', "c'mon", 'com', 'come', 'comes', 'could', 'couldn', 'couldnt', "couldn't", 'd', 'de', 'dede', 'dega', 'degi', 'dekh', 'dekha', 'dekhe', 'dekhi', 'dekho', 'denge', 'dhang', 'di', 'did', 'didn', 'didnt', "didn't", 'dijiye', 'diya', 'diyaa', 'diye', 'diyo', 'do', 'does', 'doesn', 'doesnt', "doesn't", 'doing', 'done', 'dono', 'dont', "don't", 'doosra', 'doosre', 'down', 'downwards', 'dude', 'dunga', 'dungi', 'during', 'dusra', 'dusre', 'dusri', 'dvaara', 'dvara', 'dwaara', 'dwara', 'each', 'edu', 'eg', 'eight', 'either', 'ek', 'else', 'elsewhere', 'enough', 'etc', 'even', 'ever', 'every', 'everybody', 'everyone', 'everything', 'everywhere', 'ex', 'exactly', 'example', 'except', 'far', 'few', 'fifth', 'fir', 'first', 'five', 'followed', 'following', 'follows', 'for', 'forth', 'four', 'from', 'further', 'furthermore', 'gaya', 'gaye', 'gayi', 'get', 'gets', 'getting', 'ghar', 'given', 'gives', 'go', 'goes', 'going', 'gone', 'good', 'got', 'gotten', 'greetings', 'haan', 'had', 'hadd', 'hadn', 'hadnt', "hadn't", 'hai', 'hain', 'hamara', 'hamare', 'hamari', 'hamne', 'han', 'happens', 'har', 'hardly', 'has', 'hasn', 'hasnt', "hasn't", 'have', 'haven', 'havent', "haven't", 'having', 'he', 'hello', 'help', 'hence', 'her', 'here', 'hereafter', 'hereby', 'herein', "here's", 'hereupon', 'hers', 'herself', "he's", 'hi', 'him', 'himself', 'his', 'hither', 'hm', 'hmm', 'ho', 'hoga', 'hoge', 'hogi', 'hona', 'honaa', 'hone', 'honge', 'hongi', 'honi', 'hopefully', 'hota', 'hotaa', 'hote', 'hoti', 'how', 'howbeit', 'however', 'hoyenge', 'hoyengi', 'hu', 'hua', 'hue', 'huh', 'hui', 'hum', 'humein', 'humne', 'hun', 'huye', 'huyi', 'i', "i'd", 'idk', 'ie', 'if', "i'll", "i'm", 'imo', 'in', 'inasmuch', 'inc', 'inhe', 'inhi', 'inho', 'inka', 'inkaa', 'inke', 'inki', 'inn', 'inner', 'inse', 'insofar', 'into', 'inward', 'is', 'ise', 'isi', 'iska', 'iskaa', 'iske', 'iski', 'isme', 'isn', 'isne', 'isnt', "isn't", 'iss', 'isse', 'issi', 'isski', 'it', "it'd", "it'll", 'itna', 'itne', 'itni', 'itno', 'its', "it's", 'itself', 'ityaadi', 'ityadi', "i've", 'ja', 'jaa', 'jab', 'jabh', 'jaha', 'jahaan', 'jahan', 'jaisa', 'jaise', 'jaisi', 'jata', 'jayega', 'jidhar', 'jin', 'jinhe', 'jinhi', 'jinho', 'jinhone', 'jinka', 'jinke', 'jinki', 'jinn', 'jis', 'jise', 'jiska', 'jiske', 'jiski', 'jisme', 'jiss', 'jisse', 'jitna', 'jitne', 'jitni', 'jo', 'just', 'jyaada', 'jyada', 'k', 'ka', 'kaafi', 'kab', 'kabhi', 'kafi', 'kaha', 'kahaa', 'kahaan', 'kahan', 'kahi', 'kahin', 'kahte', 'kaisa', 'kaise', 'kaisi', 'kal', 'kam', 'kar', 'kara', 'kare', 'karega', 'karegi', 'karen', 'karenge', 'kari', 'karke', 'karna', 'karne', 'karni', 'karo', 'karta', 'karte', 'karti', 'karu', 'karun', 'karunga', 'karungi', 'kaun', 'kaunsa', 'kayi', 'kch', 'ke', 'keep', 'keeps', 'keh', 'kehte', 'kept', 'khud', 'ki', 'kin', 'kine', 'kinhe', 'kinho', 'kinka', 'kinke', 'kinki', 'kinko', 'kinn', 'kino', 'kis', 'kise', 'kisi', 'kiska', 'kiske', 'kiski', 'kisko', 'kisliye', 'kisne', 'kitna', 'kitne', 'kitni', 'kitno', 'kiya', 'kiye', 'know', 'known', 'knows', 'ko', 'koi', 'kon', 'konsa', 'koyi', 'krna', 'krne', 'kuch', 'kuchch', 'kuchh', 'kul', 'kull', 'kya', 'kyaa', 'kyu', 'kyuki', 'kyun', 'kyunki', 'lagta', 'lagte', 'lagti', 'last', 'lately', 'later', 'le', 'least', 'lekar', 'lekin', 'less', 'lest', 'let', "let's", 'li', 'like', 'liked', 'likely', 'little', 'liya', 'liye', 'll', 'lo', 'log', 'logon', 'lol', 'look', 'looking', 'looks', 'ltd', 'lunga', 'm', 'maan', 'maana', 'maane', 'maani', 'maano', 'magar', 'mai', 'main', 'maine', 'mainly', 'mana', 'mane', 'mani', 'mano', 'many', 'mat', 'may', 'maybe', 'me', 'mean', 'meanwhile', 'mein', 'mera', 'mere', 'merely', 'meri', 'might', 'mightn', 'mightnt', "mightn't", 'mil', 'mjhe', 'more', 'moreover', 'most', 'mostly', 'much', 'mujhe', 'must', 'mustn', 'mustnt', "mustn't", 'my', 'myself', 'na', 'naa', 'naah', 'nahi', 'nahin', 'nai', 'name', 'namely', 'nd', 'ne', 'near', 'nearly', 'necessary', 'neeche', 'need', 'needn', 'neednt', "needn't", 'needs', 'neither', 'never', 'nevertheless', 'new', 'next', 'nhi', 'nine', 'no', 'nobody', 'non', 'none', 'noone', 'nope', 'nor', 'normally', 'not', 'nothing', 'novel', 'now', 'nowhere', 'o', 'obviously', 'of', 'off', 'often', 'oh', 'ok', 'okay', 'old', 'on', 'once', 'one', 'ones', 'only', 'onto', 'or', 'other', 'others', 'otherwise', 'ought', 'our', 'ours', 'ourselves', 'out', 'outside', 'over', 'overall', 'own', 'par', 'pata', 'pe', 'pehla', 'pehle', 'pehli', 'people', 'per', 'perhaps', 'phla', 'phle', 'phli', 'placed', 'please', 'plus', 'poora', 'poori', 'provides', 'pura', 'puri', 'q', 'que', 'quite', 'raha', 'rahaa', 'rahe', 'rahi', 'rakh', 'rakha', 'rakhe', 'rakhen', 'rakhi', 'rakho', 'rather', 're', 'really', 'reasonably', 'regarding', 'regardless', 'regards', 'rehte', 'rha', 'rhaa', 'rhe', 'rhi', 'ri', 'right', 's', 'sa', 'saara', 'saare', 'saath', 'sab', 'sabhi', 'sabse', 'sahi', 'said', 'sakta', 'saktaa', 'sakte', 'sakti', 'same', 'sang', 'sara', 'sath', 'saw', 'say', 'saying', 'says', 'se', 'second', 'secondly', 'see', 'seeing', 'seem', 'seemed', 'seeming', 'seems', 'seen', 'self', 'selves', 'sensible', 'sent', 'serious', 'seriously', 'seven', 'several', 'shall', 'shan', 'shant', "shan't", 'she', "she's", 'should', 'shouldn', 'shouldnt', "shouldn't", "should've", 'si', 'since', 'six', 'so', 'soch', 'some', 'somebody', 'somehow', 'someone', 'something', 'sometime', 'sometimes', 'somewhat', 'somewhere', 'soon', 'still', 'sub', 'such', 'sup', 'sure', 't', 'tab', 'tabh', 'tak', 'take', 'taken', 'tarah', 'teen', 'teeno', 'teesra', 'teesre', 'teesri', 'tell', 'tends', 'tera', 'tere', 'teri', 'th', 'tha', 'than', 'thank', 'thanks', 'thanx', 'that', "that'll", 'thats', "that's", 'the', 'theek', 'their', 'theirs', 'them', 'themselves', 'then', 'thence', 'there', 'thereafter', 'thereby', 'therefore', 'therein', 'theres', "there's", 'thereupon', 'these', 'they', "they'd", "they'll", "they're", "they've", 'thi', 'thik', 'thing', 'think', 'thinking', 'third', 'this', 'tho', 'thoda', 'thodi', 'thorough', 'thoroughly', 'those', 'though', 'thought', 'three', 'through', 'throughout', 'thru', 'thus', 'tjhe', 'to', 'together', 'toh', 'too', 'took', 'toward', 'towards', 'tried', 'tries', 'true', 'truly', 'try', 'trying', 'tu', 'tujhe', 'tum', 'tumhara', 'tumhare', 'tumhari', 'tune', 'twice', 'two', 'um', 'umm', 'un', 'under', 'unhe', 'unhi', 'unho', 'unhone', 'unka', 'unkaa', 'unke', 'unki', 'unko', 'unless', 'unlikely', 'unn', 'unse', 'until', 'unto', 'up', 'upar', 'upon', 'us', 'use', 'used', 'useful', 'uses', 'usi', 'using', 'uska', 'uske', 'usne', 'uss', 'usse', 'ussi', 'usually', 'vaala', 'vaale', 'vaali', 'vahaan', 'vahan', 'vahi', 'vahin', 'vaisa', 'vaise', 'vaisi', 'vala', 'vale', 'vali', 'various', 've', 'very', 'via', 'viz', 'vo', 'waala', 'waale', 'waali', 'wagaira', 'wagairah', 'wagerah', 'waha', 'wahaan', 'wahan', 'wahi', 'wahin', 'waisa', 'waise', 'waisi', 'wala', 'wale', 'wali', 'want', 'wants', 'was', 'wasn', 'wasnt', "wasn't", 'way', 'we', "we'd", 'well', "we'll", 'went', 'were', "we're", 'weren', 'werent', "weren't", "we've", 'what', 'whatever', "what's", 'when', 'whence', 'whenever', 'where', 'whereafter', 'whereas', 'whereby', 'wherein', "where's", 'whereupon', 'wherever', 'whether', 'which', 'while', 'who', 'whoever', 'whole', 'whom', "who's", 'whose', 'why', 'will', 'willing', 'with', 'within', 'without', 'wo', 'woh', 'wohi', 'won', 'wont', "won't", 'would', 'wouldn', 'wouldnt', "wouldn't", 'y', 'ya', 'yadi', 'yah', 'yaha', 'yahaan', 'yahan', 'yahi', 'yahin', 'ye', 'yeah', 'yeh', 'yehi', 'yes', 'yet', 'you', "you'd", "you'll", 'your', "you're", 'yours', 'yourself', 'yourselves', "you've", 'yup']

In [45]:
print(stopwords.words('English'))

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours', 'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its', 'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll", 'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does', 'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for', 'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from', 'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when', 'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not', 'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should', "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn', "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't", 'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't"]

#### Creating Hinglish and English stopwords list

In [49]:
en_stopwords=set(stopwords.words('english'))
in_stopwords=set(stopwords.words('hinglish'))

stop_words=list(en_stopwords.union(in_stopwords)) # union so that duplicate removed
len(stop_words)

1038

In [55]:
type(stop_words)

list

In [71]:
# saving stopwords as txt file for later use

with open('in_stop_words.txt','w') as f:
    for word in stop_words:
        f.write(f"{word}\n")


# to load txt file
#with open('stop_words.txt', 'r') as f:
    #stop_words = [line.strip() for line in f.readlines()]
#print(stop_words)

In [56]:
# checking common stopwords

common_stopwords = en_stopwords.intersection(in_stopwords)

common_stopwords = list(common_stopwords)

# Print or use the common stopwords
print("Common stopwords:", common_stopwords)
len(common_stopwords)

Common stopwords: ["you'll", 'is', "needn't", 'this', "shan't", 'what', 'myself', 'itself', 'do', 'the', 'why', 'now', 'been', 'very', 'because', 'while', "wouldn't", 'with', 'these', 'in', 'haven', 'was', 'ours', 'most', "shouldn't", 'against', 'themselves', 'being', 'about', 'him', 'an', 'has', 'for', 'but', 'how', 'few', 'm', 'nor', 'those', 'by', 'here', "hadn't", 'weren', 'any', 'between', 'when', 'down', 'under', 'and', 'be', 'as', 'during', 'whom', 'ourselves', 'then', "isn't", "mustn't", 'we', 'no', 'into', 'his', 'my', 'off', 'she', 'which', 'had', 'same', 'that', 'some', 'shouldn', "you've", "didn't", "she's", 'or', 'other', 'not', 'own', 'so', "won't", 'both', 'mightn', 'yourself', 'our', "that'll", 'will', 'shan', 'all', 'have', 'needn', 'himself', 'who', 'hasn', 'if', 'can', 'over', 'isn', 'to', 'won', 'he', 'it', 'yourselves', 'you', 'am', 'until', 'should', 'did', "aren't", 'hers', "don't", 'their', 'from', 'up', 'y', 'again', 'than', 'i', "should've", 'more', 'does', 'just', 'didn', "wasn't", 'of', 've', 'hadn', 'where', 'such', 't', 'below', 'yours', 'doesn', "you'd", 'out', 're', 'doing', 'wouldn', 'each', 'its', 'before', 'only', 'are', "couldn't", 'wasn', "haven't", 'at', 's', 'll', 'having', 'ain', 'above', 'd', "mightn't", 'through', 'them', 'mustn', "hasn't", "you're", "doesn't", 'her', 'herself', 'on', "weren't", 'aren', 'theirs', 'your', 'too', 'after', 'were', 'o', 'me', 'couldn', 'there', 'they', "it's", 'once', 'a', 'further']

177

#### Specifying tokenizer

In [57]:
"""
requirement: nltk==3.8.1

"""
nltk.download('punkt')

# Tokenize Hindi text
from nltk.tokenize import word_tokenize

tokenizer=word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\mb1110\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [58]:
test_sentence = "हाय गर्मी!!! रोटी, नौकरी और मकान, सब छीन लेगा बढ़ता हुआ तापमान"

tokenizer(test_sentence)

['हाय',
 'गर्मी',
 '!',
 '!',
 '!',
 'रोटी',
 ',',
 'नौकरी',
 'और',
 'मकान',
 ',',
 'सब',
 'छीन',
 'लेगा',
 'बढ़ता',
 'हुआ',
 'तापमान']

#### Specifying custom representation model.
Maximal Marginal Relevance to improve the diversity and whilst maintaining coherence of representative words.

In [61]:
from bertopic.representation import MaximalMarginalRelevance
from bertopic import BERTopic

# Create your representation model
representation_model = MaximalMarginalRelevance(diversity=0.3)

#### Performing topic modeling using BERTopic

In [62]:
from umap import UMAP
from hdbscan import HDBSCAN
from sentence_transformers import SentenceTransformer
from sklearn.feature_extraction.text import CountVectorizer

from bertopic import BERTopic
from bertopic.vectorizers import ClassTfidfTransformer

In [78]:
# hyperparameters all set to default

# Step 1 - Extract embeddings
embedding_model = SentenceTransformer("sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2")
#('sentence-transformers/LaBSE')

# Step 2 - Reduce dimensionality
umap_model = UMAP(n_neighbors=15, n_components=5, min_dist=0.0, metric='cosine', random_state=42)

# Step 3 - Cluster reduced embeddings
hdbscan_model = HDBSCAN(min_cluster_size=10, metric='euclidean', cluster_selection_method='eom', prediction_data=True)

# Step 4 - Tokenize topics
vectorizer_model = CountVectorizer(tokenizer=word_tokenize,stop_words=stop_words, ngram_range=(1,1))

# Step 5 - Create topic representation
ctfidf_model = ClassTfidfTransformer()


topic_inmodel = BERTopic(representation_model=representation_model,
    language='multilingual', 
    top_n_words=10,
    n_gram_range=(1, 1),
    min_topic_size=10,
    nr_topics= None,
    low_memory=False,
    calculate_probabilities=True, # The probabilities of all topics per document.
    seed_topic_list=None, 
    embedding_model=embedding_model,
    umap_model=umap_model,
    hdbscan_model=hdbscan_model,
    vectorizer_model=vectorizer_model,
    ctfidf_model=ctfidf_model,
    verbose=True
)

topics, probs = topic_inmodel.fit_transform(inbody) # Fit the model and predict documents.a

2024-10-16 14:11:39,892 - BERTopic - Embedding - Transforming documents to embeddings.

Batches:   0%|          | 0/68 [00:00<?, ?it/s]

2024-10-16 14:13:47,491 - BERTopic - Embedding - Completed ✓
2024-10-16 14:13:47,492 - BERTopic - Dimensionality - Fitting the dimensionality reduction algorithm
2024-10-16 14:13:59,515 - BERTopic - Dimensionality - Completed ✓
2024-10-16 14:13:59,516 - BERTopic - Cluster - Start clustering the reduced embeddings
2024-10-16 14:14:00,158 - BERTopic - Cluster - Completed ✓
2024-10-16 14:14:00,165 - BERTopic - Representation - Extracting topics from clusters using representation models.
2024-10-16 14:14:13,643 - BERTopic - Representation - Completed ✓

In [79]:
topic_inmodel.get_topic_info()

,Topic,Count,Name,Representation,Representative_Docs
0,-1,571,-1_degrees_temperature_heatwave_heat,"[degrees, temperature, heatwave, heat, climate...",[NEW DELHI: Parts of Delhi sweltered under a s...
1,0,118,0_degrees_delhi_maximum_temperature,"[degrees, delhi, maximum, temperature, heatwav...","[The Safdarjung Observatory, considered the of..."
2,1,78,1_schools_students_summer_teachers,"[schools, students, summer, teachers, timings,...","[KOLKATA: One by one, Kolkata's schools have s..."
3,2,61,2_degrees_temperature_maximum_normal,"[degrees, temperature, maximum, normal, city, ...",[Gurgaon: The city continued to reel under the...
4,3,52,3_metro_green_urban_gardens,"[metro, green, urban, gardens, tree, hyderabad...",[Hyderabad: With the GHMC planning to give a m...
5,4,52,4_surendranagar_temperature_maximum_forecast,"[surendranagar, temperature, maximum, forecast...",[Ahmedabad: It will be a hot Sunday for Amdava...
6,5,46,5_wheat_tonnes_prices_exports,"[wheat, tonnes, prices, exports, crop, product...","[NEW DELHI: In a drastic move, India on Saturd..."
7,6,44,6_degrees_temperature_maximum_normal,"[degrees, temperature, maximum, normal, heatwa...",[Ludhiana: Residents grappled with severe heat...
8,7,43,7_coal_electricity_outages_plants,"[coal, electricity, outages, plants, cuts, sho...",[NEW DELHI: With large parts of the country fa...
9,8,43,8_degrees_celsius_mercury_maximum,"[degrees, celsius, mercury, maximum, temperatu...","[The mercury in Delhi, which recorded its hott..."
10,9,42,9_fires_firefighters_fire_spain,"[fires, firefighters, fire, spain, wildfires, ...","[JERTE, SPAIN: Authorities across southern Eur..."
11,10,42,10_china_province_yangtze_shanghai,"[china, province, yangtze, shanghai, drought, ...","[NEW DELHI: Wan Jinjun, a 62-year-old retiree ..."
12,11,37,11_climate_emissions_warming_global,"[climate, emissions, warming, global, carbon, ...",[PARIS: Nearly 200 nations start online negoti...
13,12,32,12_demand_power_electricity_delhi,"[demand, power, electricity, delhi, coal, plan...",[This is an increase of over 28 percent from A...
14,13,32,13_heatwave_districts_conditions_pradesh,"[heatwave, districts, conditions, pradesh, met...",[NEW DELHI: Heatwave conditions in parts of ce...
15,14,32,14_greece_fire_fires_wildfires,"[greece, fire, fires, wildfires, flames, burne...","[PSAROPOULI, GREECE: Thousands of people have ..."
16,15,31,15_champion_hamilton_test_ferrari,"[champion, hamilton, test, ferrari, race, tour...",[LONDON: Novak Djokovic insists it's only fair...
17,16,31,16_heatwave_districts_conditions_temperature,"[heatwave, districts, conditions, temperature,...",[NEW DELHI: Amid a punishing heatwave building...
18,17,31,17_reef_fire_bushfire_coral,"[reef, fire, bushfire, coral, bushfires, fires...",[SYDNEY: Australia ordered residents and touri...
19,18,31,18_deaths_aurangabad_death_districts,"[deaths, aurangabad, death, districts, died, h...",[PATNA: Severe heatwave has claimed the lives ...
20,19,30,19_degrees_maximum_recorded_temperature,"[degrees, maximum, recorded, temperature, jodh...",[JAIPUR: Severe heatwave conditions in Rajasth...
21,20,30,20_bhubaneswar_temperature_districts_coastal,"[bhubaneswar, temperature, districts, coastal,...",[BHUBANESWAR: Bolangir was the hottest place i...
22,21,30,21_sleep_heat_water_heatstroke,"[sleep, heat, water, heatstroke, coolers, heal...",[Gurgaon: Doctors at several hospitals said th...
23,22,30,22_hottest_chandrapur_temperature_highest,"[hottest, chandrapur, temperature, highest, wa...",[Nagpur: Akola and Buldhana districts experien...
24,23,29,23_birds_animals_zoo_bear,"[birds, animals, zoo, bear, water, pets, anima...",[Gurgaon: The weather may have turned for the ...
25,24,29,24_celsius_degrees_mercury_temperature,"[celsius, degrees, mercury, temperature, heat,...",[NEW DELHI: The intense heatwave sweeping nort...
26,25,28,25_london_temperatures_extreme_record,"[london, temperatures, extreme, record, warnin...",[LONDON: Britain on Monday issued an extreme h...
27,26,27,26_france_paris_french_europe,"[france, paris, french, europe, temperatures, ...",[PARIS: Europe was bracing itself for a swelte...
28,27,26,27_rainfall_rain_showers_weather,"[rainfall, rain, showers, weather, monsoon, di...","[BENGALURU: Sweltering under the blazing sun, ..."
29,28,25,28_delhi_rain_winds_fog,"[delhi, rain, winds, fog, weather, city, thund...",[NEW DELHI: While India Meteorological Departm...
30,29,25,29_plan_ndma_state_preparedness,"[plan, ndma, state, preparedness, minister, fi...","[During the meeting, the IMD and the NDMA brie..."
31,30,24,30_water_tankers_supply_wazirabad,"[water, tankers, supply, wazirabad, airport, d...",[NEW DELHI: Amid a deadly heatwave building up...
32,31,23,31_canada_heat_vancouver_temperatures,"[canada, heat, vancouver, temperatures, canadi...",[VANCOUVER: Hundreds of people were evacuated ...
33,32,23,32_monsoon_rainfall_southwest_india,"[monsoon, rainfall, southwest, india, date, fo...","[Meanwhile, several parts of the country, incl..."
34,33,20,33_तापमान_मौसम_बारिश_अधिकतम,"[तापमान, मौसम, बारिश, अधिकतम, गर्मी, न्यूनतम, ...","[Weather Update, IMD Prediction, Heatwave Aler..."
35,34,20,34_california_fire_angeles_floods,"[california, fire, angeles, floods, acres, wil...",[LOS ANGELES: The first major wildfires after ...
36,35,20,35_pollution_ozone_levels_pollutants,"[pollution, ozone, levels, pollutants, mumbai,...",[Nagpur: Air pollution is not just a winter th...
37,36,19,36_anushka_instagram_sharma_actress,"[anushka, instagram, sharma, actress, cricket,...",[Sumona Chakravarti shared this image. (Courte...
38,37,19,37_tokyo_japan_olympics_2020,"[tokyo, japan, olympics, 2020, murder, heatstr...",[TOKYO: Tokyo 2020 organisers on Friday unveil...
39,38,18,38_degrees_pradesh_recorded_maximum,"[degrees, pradesh, recorded, maximum, heatwave...",[NEW DELHI: Heatwave conditions intensified in...
40,39,17,39_climate_temperatures_energy_women,"[climate, temperatures, energy, women, heat, p...",[Heatwave: Continued global warming guarantees...
41,40,17,40_hyderabad_conditions_temperature_heatwave,"[hyderabad, conditions, temperature, heatwave,...",[HYDERABAD: Heatwave conditions continued to g...
42,41,16,41_spain_france_portugal_fires,"[spain, france, portugal, fires, temperatures,...",[The mass of hot air which pushed temperatures...
43,42,16,42_temperature_heatwave_maximum_degrees,"[temperature, heatwave, maximum, degrees, weat...",[NEW DELHI: Delhi reeled under a heatwave for ...
44,43,16,43_rainfall_pradesh_india_isolated,"[rainfall, pradesh, india, isolated, cyclonic,...","[According to an official release, a low-press..."
45,44,15,44_inflation_prices_growth_fiscal,"[inflation, prices, growth, fiscal, india, rat...","[If realised, inflation would be above 7% for ..."
46,45,15,45_maharashtra_temperatures_temperature_mumbai,"[maharashtra, temperatures, temperature, mumba...",[Pune: Chandrapur in eastern Maharashtra sizzl...
47,46,15,46_celsius_degrees_temperature_maximum,"[celsius, degrees, temperature, maximum, norma...",[NEW DELHI: The maximum temperature in the nat...
48,47,13,47_india_average_temperatures_temperature,"[india, average, temperatures, temperature, he...","[This year, Northwest India recorded the hotte..."
49,48,13,48_degrees_temperature_maximum_march,"[degrees, temperature, maximum, march, mercury...",[NEW DELHI: With the mercury crossing 41 degre...
50,49,13,49_daltonganj_jamshedpur_rainfall_garhwa,"[daltonganj, jamshedpur, rainfall, garhwa, tem...",[Ranchi: After a brief rain respite in isolate...
51,50,13,50_buses_inverter_demand_acs,"[buses, inverter, demand, acs, cab, coolers, e...",[Bhubaneswar: The scorching heat has forced pa...
52,51,12,51_rain_monsoon_thunderstorm_mercury,"[rain, monsoon, thunderstorm, mercury, wind, h...",[KOLKATA: The city continued to be scorched by...
53,52,12,52_mango_mangoes_variety_market,"[mango, mangoes, variety, market, tomatoes, fr...","[Surat: For mango lovers, this could be a good..."
54,53,10,53_died_karachi_doctors_stroke,"[died, karachi, doctors, stroke, bodies, morgu...",[KARACHI: At least 65 people died of heatstrok...
55,54,10,54_arctic_russian_temperatures_ice,"[arctic, russian, temperatures, ice, glaciers,...",[Ukraine has put up a spirited resistance to t...

In [81]:
# save the model for later use

topic_inmodel.save("topic_inmodel")

2024-10-16 14:14:34,727 - BERTopic - WARNING: When you use `pickle` to save/load a BERTopic model,please make sure that the environments in which you saveand load the model are **exactly** the same. The version of BERTopic,its dependencies, and python need to remain the same.